body {
    align-items: center;
}

table {
    margin: auto;
}

#logpanel {
    align-items: center;
    text-align: center;
}

.retbtn {
    margin: 0 5rem;
}

.logtable {
    margin: 3rem 0;
    align-items: center;
}